

/*______________________________________________________________________nav*/

/*change color for the nav */



/*_______________________________________________________________________*/

#firstgame{
height: 250px;
width: 70%;
border: 1px solid black;
margin-left:20%;

}

#secondgame{
height: 250px;
width: 70%;
border: 1px solid black;


}


/*________________________________________________________________________game-12cards.html*/

*{
    margin: 0;
    padding: 0;
}

#title12cards{
    text-align: center;
}

/* add a backgroung color later */


.containergame{
    width: 85%;
    height: 500px;
    border: 1px solid #111;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
    background-color: blueviolet;


}

.card{
    width: 160px;
    height: 240px;
    position: absolute;
    border-radius: 10px;
    perspective: 600px;
   
   
}



.face{
   width: 100%;
   height: 100%;
   position: absolute;
    border-radius: 10px;
    background-repeat: no-repeat;
 
transition: all 1s;
backface-visibility: hidden;
}

/* change image for another one*/
.back{
  
  background: url("../images/backface1.jpg");
       background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.back.turned{
   transform: rotateY(180deg);
}

.front{
   transform: rotateY(-180deg);
   background: url("../images/sweden-flag.jpg");
       background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.front.turned{
   transform: rotateY(0deg);
}


.card:hover{
   box-shadow: 0 0 10px #000;
}
